<!-- Loop over each object in the projects array -->

<form class="comment-form">
  <label for="comment-body">Add a comment</label>
  <textarea id="comment-body" name="comment-body" required></textarea>
  <button type="submit" data-id="{{post.id}}">Add comment</button>
</form>
<script src="../js/comments.js"></script>